.title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    // line-height: 28px;
    line-height: normal;
    color: #FFFFFF;
    &--cocktail {
        letter-spacing: 0.07em;
        margin-top: auto;
    }
    &--description {
        font-size: 18px;
        // line-height: 21px;
        line-height: normal;
        margin: 32px 0 8px;
    }
    &--no-result {
        font-weight: normal;
        letter-spacing: 0.07em;
        text-align: center;
        padding: 214px 32px;
        padding-bottom: 0;
    }
}