.main {
  min-height: 100%;
  padding: 194px 32px 128px;
  background: #201F2E;
}
.main_detail {
  margin-top: 352px;
  padding: 32px;
}
@media screen and (min-width: 627px) {
  .main_detail {
    margin-top: 576px;
  }
}
@media screen and (min-width: 1025px) {
  .main_detail {
    margin-top: 675px;
  }
}